<div id="contact" class="contact-block">
    <div class="contact-infos">
        <span class="contact-infos-title">On en discute ?</span>
        <div class="contact-info">
            <img src="/img/icons/phone.svg" alt="">
            <a href="tel:0618934872">+ 33 6 18 93 48 72</a>
        </div>
        <div class="contact-info">
            <img src="/img/icons/white-location-pin.svg" alt="">
            <a href="https://maps.app.goo.gl/B2qbnrYA8DDZTLVt5">14 rue Baruch Spinoza - 38320 Eybens</a>
        </div>
        <div class="contact-info">
            <img src="/img/icons/mail.svg" alt="">
            <a href="mailto:contact@leboncopieur.com">contact@leboncopieur.com</a>
        </div>
    </div>
    <div class="white-block"></div>
    <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="contact-name-mail">
                <div class="input-with-legend">
                    <span>Votre nom</span>
                    <input required formControlName="name" class="ember-text-field ember-view" type="text">
                    <p class="error" *ngIf="contactForm.get('name')?.hasError('required')">
                        * Le nom est requis
                    </p>
                </div>
                <div class="input-with-legend">
                    <span>Votre mail</span>
                    <input required formControlName="email" class="ember-text-field ember-view" type="email">
                    <p class="error" *ngIf="contactForm.get('email')?.hasError('email')">
                        * L'email n'est pas conforme
                    </p>
                </div>
            </div>
            <div class="input-with-legend">
                <span>Objet</span>
                <input required formControlName="object" placeholder="Ex : Demande de dépannage" class="ember-text-field ember-view" type="text">
                <p class="error" *ngIf="contactForm.get('object')?.hasError('required')">
                    * L'object est requis
                </p>
            </div>
            <div class="input-with-legend">
                <span>Votre message</span>
                <textarea required formControlName="message" name="contact-textarea" rows="5" placeholder="Ecrivez ici"></textarea>
                <p class="error" *ngIf="contactForm.get('message')?.hasError('minlength')">
                    * Le message est requis et doit avoir au moins 10 caractères
                </p>
            </div>
            <button type="submit" class="primary button-lg lg">Envoyer</button>
        </form>
    </div>
</div>
